/* Person */
.person-container {
    height:100%;
    width:80%;
    display:flex;
    margin:auto;
    position:relative;
}
.person-img-container {
    margin:auto;
    width:250px;
    position:relative;
    text-align:center;
    box-shadow: 2px 2px 2px 2px #555555;
    display:flex;
    align-items: center;
}
.person-img-container img {
    display:inline-block;
    width:250px;
    height:250px;
    object-fit: contain;
    display: inline-block;
    margin:auto;
    z-index:1;
}
.person-desc-container {
    width:50%;
    margin:auto;
}
.person-desc-description {
    display: flex;
    padding:8px;
}
.person-desc-description h3 {
    display:inline-block;
    width:120px;
}

.person-sns a{
    display: inline-block;
    width:24px;
    height:24px;
    text-indent: -9999px;
    margin-right:4px;
}
#person-sns-insta {
    background:url("../component/img/icon_instagram.png") no-repeat;
    background-position: 50% 50%;
    background-size:contain;
}
#person-sns-youtube {
    background:url("../component/img/icon_youtube.png") no-repeat;
    background-position: 50% 50%;
    background-size:contain;
}
#person-sns-blog {
    background:url("../component/img/icon_blog.png") no-repeat;
    background-position: 50% 50%;
    background-size:contain;
}
#person-sns-pages {
    background:url("../component/img/icon_web.png") no-repeat;
    background-position: 50% 50%;
    background-size:contain;
}
/* Error */

.personErr {
    position:absolute;
    width: 100%;
    text-align:center;
    top:30%;
}
.personErr h2 {
    margin:12px 0;
}
.personErr p {
    margin:12px 0;
}
.personErr span {
    font-weight: bold;
    font-style: italic;
}

.personErr .btn {
    display: inline-block;
    padding:12px;
    background-color: var(--color-black);
    color:var(--color-white);
    border-radius: 10px;
    margin:12px 0;

}