/* Setting */
.area {
    width:80%;
    margin:20px auto 0;
}
.area::after {
    content : '';
    display:block;
    clear:both;
}
.desc-area {
    /* width:24%; */
    /* position:fixed; */
    width:30%;
    position:relative;
    float:left;
}
.shop-area{
    width:70%;
    position:relative;
    float:right;
}

/* Desc Area */

.description {
    padding:12px;
    margin:auto;
    width:80%;
    background-color:var(--color-main1);
    border-radius:10px;
    position:relative;
    top:1%;
    color:var(--color-white);
    text-align:center;
}
.description h2 {
    margin-bottom:24px;
}
.description-para {
    background-color:var(--color-main2);
    padding:8px;
    border-radius:10px;
    width:90%;
    margin:6px auto 24px;
    word-wrap:break-word;
    font-size:var(--font-sm);
}
.description-link a {
    padding:2px 0;
    margin:4px auto;
    display:inline-block;
    font-size:var(--font-md);
    background-color: var(--color-white);
    color: var(--color-main2);
    width:80%;
    border-radius: 5px;
}


/* Shop Area */

.product-container {
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}
.product-item {
    width:276px;
    height:374px;
    margin:20px 12px;
}
.product-item img {
    width:276px;
    height:276px;
    border-radius: 25px;
    border:1px solid var(--color-main2);
}