.home-container {
    margin-top:20px;
}

.video-container {
    width:80%;
    margin:auto;
    position:absolute;
    top:0;
    left:10%;
}

.video-container iframe{
    z-index:9;
    position:relative;
    display:none;
    transition:1s;
}