@media screen and (min-width:375px) {
    .actor-flex-box {
        display: inline-flex;
    }
}

.actor-wrap {
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
/* .actor-bg-img {
    flex:inline-flex;
    width:240px;
    height:360px;
} */
.actor-sm-img {
    width:120px;
    height:160px;
    margin-top:12px;
    margin-left:4px;
    position:relative;
    opacity:1.0;
    transition: 0.3s;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 120px 160px;
    background-position: 50% 50%;
}
.actor-sm-img:hover{
    opacity:0.7;
}

.actor-desc {
    background-color:#333;
    color:#fff;
    width:120px;
    height:60px;
    position:absolute;
    bottom:-60px;
    z-index:1;
    transition:1s;
    display:none;
}