@media screen and (min-width:872px) {
    .carousel-container {
        width: 80%;
        height: 360px;
        overflow: hidden;
        margin: auto;
        background-color: var(--color-black);
    }

    .carousel-img {
        width: 100%;
        height: 360px;
        object-fit: contain;
        flex: none;
        margin: auto;
        opacity: 0.6;
        transition: 1s;
    }

    .carousel-img:hover {
        cursor: pointer;
        transform: scale(1.05);
        opacity: 1.0;
    }
}

.carousel-container {
    width: 80%;
    height: 360px;
    overflow: hidden;
    margin: auto;
    background-color: var(--color-black);
}

.carousel-img {
    width: 100%;
    height: 360px;
    object-fit: contain;
    flex: none;
    margin: auto;
    opacity: 0.6;
    transition: 1s;
}

.carousel-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 1.0;
}